<div>
  <h2>{{ operation === 'create' ? 'New Customer' : 'Update Customer' }}</h2>
  <div class="field">
    <label for="firstname">Name</label>
    <input
      [(ngModel)]="customer.name"
      id="firstname"
      pInputText
      placeholder="Mary Jane"
      type="text"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      [(ngModel)]="customer.email"
      id="email"
      pInputText
      placeholder="MaryJane@gmail.com"
      type="email"
      class="w-full"
    >
  </div>
  <div class="field" *ngIf="operation === 'create'">
    <label for="password">Password</label>
    <input
      [(ngModel)]="customer.password"
      id="password"
      pInputText
      placeholder=""
      type="password"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="age">Age</label>
    <input
      [(ngModel)]="customer.age"
      id="age"
      pInputText
      placeholder="16"
      type="number"
      class="w-full"
    >
  </div>
  <div class="field" *ngIf="operation === 'create'">
    <label for="gender">Gender</label>
    <select
      [(ngModel)]="customer.gender"
      id="gender"
      class="p-dropdown w-full custom-select"
    >
      <option value="">Select Option</option>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>
  </div>
  <button
    [disabled]="!isCustomerValid"
    (click)="onSubmit()"
    pButton
    label="submit"
    class="w-full"
  >
  </button>
  <button
    (click)="onCancel()"
    pButton
    label="cancel"
    class="w-full p-button-outlined p-button-danger mt-2"
  >
  </button>
</div>
